.el-main{
    margin:0;
    padding:0;
    .container{
        width: 1220px;
        margin: 0 auto;
        .wrapper-home{
            width: 1220px;
            margin-top: 9px;
            height: 499px;
            border: 1px solid rgba(0,0,0,.14);
            background: #fff;
            box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);
            text-align: center;
            .block{
                height:500px;
                .el-carousel--horizontal{
                    height:500px;
                    .el-carousel__container{
                        height:500px;
                        .el-carousel__item{
                            img{
                                display: inline-block;
                                width: 1220px;
                                height:499px;
                            }
                        }
                       
                    }
                }
            }
        }
    }
}