.j-footer{
    background: #fff;
    .footer-box{
        margin: 0 auto;
        width: 1000px;
        height: 70px;
        text-align: center;
        line-height: 75px;
        font-size: 12px;
        text-align: center;
        color: #666;
    }
}